ImageClassification/augmented_balanced/
ImageClassification/DATASET-CAPSTONE-BANGKIT-1/
ImageClassification/merged_dataset/
ImageClassification/processed_dataset/
ImageClassification/saved_model/
ImageClassification/tfjs_model/
ImageClassification/tflite/
ImageClassification/saved_model/
__pycache__/
**/__pycache__/
NLP/models/external/finetuned-agrolens
NLP/models/external/indogpt-chatbot-finetuned
NLP/models/external/indogpt-chatbot
*.safetensors
*.pth
*.bin
